    <style type="text/css">
        .headflow-widget{
            float:left;
        }
    </style>


<div id="headflowFloatingPane" style="display:none;">
    <div id="headFlowWidgetList">
    </div>
</div>


<div style="position:absolute;top:0;right:200px;">
    <button id="progButtonNode" type="button" ></button>
</div>
